@import "../../variables.scss";
.row {
  padding: 0 4em;
  margin-right: 0;
  margin-left: 0;

  .episodes-container {
    padding: 30px;

    h1 {
      img {
        vertical-align: top;
        cursor: pointer;
      }
    }

    .table {
      margin-top: 20px;

      .thead-dark th {
        background-color: $ic-grey-dark;
      }

      tbody {
        tr {
          cursor: pointer;
        }

        .active {
          background-color: $ic-blue;
        }
      }
    }
  }

  .details-container {
    .content {
      top: 60px;
      padding: 30px;
      .title {
        text-align: center;
        padding-bottom: 10px;
        border-bottom: solid 0.5px $ic-transparent-black;
      }

      .jumbotron {
        background-color: $ic-grey-light;
        color: $ic-black;
        padding-top: 1em;
        padding-bottom: 1em;
      }

      .no-selected {
        margin-top: 2em;
        text-align: center;

        img {
          margin-bottom: 20px;
        }
      }

      .selected {
        margin: 1em 0;
        position: relative;

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.9;
          background: $ic-white;
          text-align: center;
          border-radius: 0.3rem;

          .loader {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }
        }

        .characters {
          margin-top: 10px;
          text-align: center;

          img {
            min-height: 90px;
            background-image: url("../../assets/images/default.jpeg");
            background-size: cover;
            border-radius: 20%;
            border: solid 2px $ic-white;
            margin: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.content-row {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: nowrap;

  span,
  p {
    font-size: 0.9rem;
    font-weight: 200;
    text-align: right;
    padding: 0px;
    margin: 0px;
  }

  p {
    font-family: monospace;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $ic-overlay-black;
  z-index: 1050;
  cursor: pointer;

  .character-modal {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    min-height: 10em;
    width: 20%;
    z-index: 1051;
  }
}
