@import "../../variables.scss";
.main-jumbotron {
  background-image: url("../../assets/images/jumbotron.jpg");
  padding: 4% 0;
  margin-bottom: 15px;

  .content {
    background-color: $ic-transparent-black;
    color: $ic-white;
    text-align: center;
    display: block;
    width: 40%;
    border-radius: 0 10px 10px 0;
    padding: 25px;

    h2,
    h4 {
      font-family: monospace;
    }
  }
}
