//Black
$ic-black: #000000;
$ic-transparent-black: #000000cc;
$ic-transparent-black-dark: #000000b3;
$ic-overlay-black: rgba(0, 0, 0, 0.5);
//White
$ic-white: white;
//Green
$ic-green: #72ff00;
//Grey
$ic-grey: rgb(54, 54, 54);
$ic-grey-dark: #000000d9;
$ic-grey-light: #7d7d7d;
//Blue
$ic-blue: #17a2b8;